.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

*.log
*.local
*.tsbuildinfo

node_modules/
dist/
apps/desktop/src-tauri/resources/sq
target/

apps/desktop/src-tauri/gen/schemas/

.obsidian/
.pnpm-store/
.sidequest/
